.elementor-612 .elementor-element.elementor-element-35efbf46 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-612 .elementor-element.elementor-element-35efbf46{margin-top:0%;margin-bottom:-14%;padding:30px 10px 30px 10px;z-index:1;}.elementor-612 .elementor-element.elementor-element-48e4391a{text-align:left;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-menu-toggle{margin-left:auto;background-color:#02010100;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu .elementor-item{font-family:"Helvetica", Sans-serif;font-size:17px;font-weight:700;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;fill:#FFFFFF;padding-left:20px;padding-right:20px;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF;fill:#FFFFFF;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#D514A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .e--pointer-framed .elementor-item:before,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .e--pointer-framed .elementor-item:after{border-color:#D514A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFFFF;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#D514A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#D514A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5{--e-nav-menu-horizontal-menu-item-margin:calc( 15px / 2 );}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:15px;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a, .elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-menu-toggle{color:#FFFFFF;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown{background-color:#270B48;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a:hover,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a:hover,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a.highlighted{background-color:#D414A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown a.elementor-item-active{color:#FFFFFF;background-color:#D414A7;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown .elementor-item, .elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#371460;border-bottom-width:1px;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 div.elementor-menu-toggle{color:#FFFFFF;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 div.elementor-menu-toggle svg{fill:#FFFFFF;}.elementor-612:not(.elementor-motion-effects-element-type-background), .elementor-612 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#592273;}@media(max-width:1024px){.elementor-612 .elementor-element.elementor-element-35efbf46{margin-top:0%;margin-bottom:-23%;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:32px !important;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-menu-toggle{font-size:33px;}}@media(max-width:767px){.elementor-612 .elementor-element.elementor-element-35efbf46{margin-top:-2%;margin-bottom:-44%;z-index:9999999;}.elementor-612 .elementor-element.elementor-element-786b09f0{width:83%;}.elementor-612 .elementor-element.elementor-element-3ec7d4e3{width:17%;}.elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-612 .elementor-element.elementor-element-4e82c8c5 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:22px !important;}}@media(min-width:768px){.elementor-612 .elementor-element.elementor-element-786b09f0{width:27.077%;}.elementor-612 .elementor-element.elementor-element-3ec7d4e3{width:72.923%;}}@media(max-width:1024px) and (min-width:768px){.elementor-612 .elementor-element.elementor-element-786b09f0{width:51%;}.elementor-612 .elementor-element.elementor-element-3ec7d4e3{width:49%;}}/* Start custom CSS for section, class: .elementor-element-35efbf46 */@media screen and (min-device-width: 1025px) and (max-device-width: 1181px) {



.elementor-12 .elementor-element.elementor-element-150fa8a4 .elementor-nav-menu .elementor-item {

    font-size: 14px;
}

a.elementor-item.elementor-item-anchor.menu-link {
    padding: 0px 0px;
    margin: 0px 0px!important;
}


}





































.elementor-12 .elementor-element.elementor-element-150fa8a4 .e--pointer-framed .elementor-item:before, .elementor-12 .elementor-element.elementor-element-150fa8a4 .e--pointer-framed .elementor-item:after {
    border-color: #D514A7;
    border-radius: 8px;
}


.elementor-sticky--effects {
    background: #390f6ff0;
    padding: 2px 0px!important;
    border-bottom: 1px solid #c813a2;
    
}




.elementor-sticky--effects div#mylogo {
    width: 294px;
    transition: all 0.4s ease-in-out !important;
}





#stickymenu{
     transition: all 0.4s ease-in-out !important;
}/* End custom CSS */